<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h1 class="text-center">Edit Your <strong>Tenantr</strong> Profile!</h1>
            <p class="text-center">Tell us something <em>slightly</em> different about yourself than you did before! Hence, the edit!</p>
           <%= render 'form' %>
        </div>
    </div>
</div>