<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2>About <strong>Tenantr</strong></h2>
            <p>Welcome to <strong>Tenantr</strong>.
            Our aim is to simplify the relationship between tenants and property managers. Whether you're a resident in an apartment building, or the owner of multiple properties
            just trying to manage your day-to-day- Tenantr aims to make your life <em>easier</em>.</p>
            <p>You should have received a login account from your respective property manager upon arrival to your new suite. If you did not, feel free to message us using the <%= link_to "contact page.", new_contact_path %></p>
        </div>
    </div>
</div>