<div class="row">
    <div class="col-md-4 col-md-offset-4 ">
        <div class="well">
            <ul>
                <%= link_to new_contact_path do %>
                    <li><i class="fa fa-envelope"></i> New Contact</li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
            